<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Nom Nom</title>
</head>
<body>
    <h1>Hello world</h1>
    <h1>Menu</h1>
    <ul>
        <% menu.forEach(item => { %>
            <li>
                <strong><%= item.name %></strong>: $<%= item.price %>
                <% if (item.custom) { %>
                    <ul>
                        <% Object.entries(item.custom).forEach(([key, value]) => { %>
                            <li><%= key %>: <%= value %></li>
                        <% }) %>
                    </ul>
                <% } %>
            </li>
        <% }) %>
    </ul>
</body>
</html>