<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Nom Nom - Delicious Treats">
    <meta name="keywords" content="cookies, brownies, lemonade, treats">
    <meta name="author" content="Nom Nom Team">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="styles.css">
    <link rel="shortcut icon" href="logo-photoroom.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap" rel="stylesheet">
    <title>Nom Nom</title>
</head>
<body>
    <%- include('header') %>
    <main>
        <section>
            <img src="logo-Photoroom.png" alt="Nom Nom Logo" class='title-logo'>
            <hr>
            <h1>SWEET. <br> CUSTOM. YOURS.</h1>
        </section>
        <hr>
        <section>
            <h2>Our Menu</h2>
            <% for (let i = 0; i < menu.length; i++) { %>
                <% if (menu[i].visible) { %>
                    <a href="/menu">
                        <div class="menu-item">
                            <h3><%= menu[i].name %></h3>
                            <p><%= menu[i].description %></p>
                            <p>$<%= menu[i].price.toFixed(2) %></p>
                        </div>
                    </a>
                <% } %>
            <% } %>
        </section>
        <hr>
        <section>
            <h2>Pre-order</h2>
            <p>You can preorder your food and skip the queue.</p>
            <p><a href="/menu">Pre-order Now</a></p>
        </section>
    </main>
</body>
</html>
