body {
    background-color: rgba(0, 0, 0, 0.25);
    text-align: center;
    color: white;
    font-family: "Comic Relief", system-ui;
    margin: 0;
    padding: 0;
}

h1 {
    color: yellow;
    font-size: 2.5em;
    font-weight: 700;
}

h2 {
    color: #ef2868;
    font-weight: 700;
}

p {
    color: yellow;
    font-weight: 400;
}

nav {
    background-color: rgba(25, 25, 25, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
}

nav ul {
    list-style-type: none;
    padding: 0, 50%, 0, 50%;
}

nav li {
    margin: 0 10px;
    display: inline-block;
}

main {
    margin-top: 60px;
}

a {
    color: lightyellow;
    text-decoration: none;
}

li {
    margin: 10px 0;
    list-style-type: circle;
}

math {
    margin: 20px 0;
    font-size: 1.2em;
}

.title-logo {
    width: 500px;
    height: 500px;
}
